




#home #footer {
  background:transparent;
  a {
    .icon {
      &.blog {
        background-image:url(../img/icons/eye_white.png);
      }
      &.facebook {
        background-image:url(../img/icons/fb_white.png);
      }
      &.twitter {
        background-image:url(../img/icons/twitter_white.png);
      }
      &.contact {
        background-image:url(../img/icons/mail_white.png);
      }
    }
  }
}

.hidden-project {
  display:none !important;
}

.main-featured-project {
  margin-left:0;
  bottom:0;
  background-size:cover;
  background-position: center center;
  background-repeat:none;
  box-shadow: inset 0px 0px 50px rgba(0,0,0,0.75);
  z-index:0;
  left:0;
  a {
    text-decoration: none;
  }
  .info {
    font-size:10px;
    position:absolute;
    top:$padding;
    right:$padding;
    background:url(../img/speech_bubble.png) no-repeat;
    width:184px;
    height:124px;
    padding-top:70px;
    text-align:center;
    .title {
      margin:0;
      font-size:24px;
    }
    .subtitle {
      margin:0;
      font-size:12px;
    }

  }
}

#showreel, #showreel_frame {
  position:absolute;
  bottom:$padding + 50px;
  right:$padding;
  border:1em solid rgba(255,255,255,0.8);
  width:150px;
  height:84px;
  background:#000 url(../img/showreel.png) no-repeat center center;
  transition:200ms all;
  cursor:pointer;
  &:hover {
    border-color:rgba(0,0,0,0.6);
  }
}
#showreel_frame {
  background:#000;
}
#showreel_frame.active {
  right:0;
  max-width:100000000px;
  bottom:50px;
  z-index:999999999;
  position:fixed;
}

@media(max-width:650px) {
  section.main-featured-project {
    position:relative;
    height:500px;
    left:auto;
    right:auto;
    bottom:auto;
    top:auto;
    margin:0;
    padding:0;
    .info {
      top:auto;
      bottom:$padding;
    }
  }
  #showreel, #showreel_frame {
    left:0;
    right:0;
    width:auto;
    top:0;
    border-width:2px;
    border-left:none;
    border-right:none;
    bottom:auto;
    &.active {
      top:0 !important;
      left:0 !important;
      bottom:0 !important;
      right:0 !important;
      width:100% !important;
      height:100% !important;
    }
  }
}